@page "/acknowledgements"

<PageTitle>Acknowledgements</PageTitle>

<h3>Acknowledgements</h3>
<ul>
    <li>Niels Swimberghe <a href="https://swimburger.net/blog/dotnet/how-to-deploy-aspnet-blazor-webassembly-to-github-pages">https://swimburger.net/blog/dotnet/how-to-deploy-aspnet-blazor-webassembly-to-github-pages</a></li>
    <li>Paul Michaels <a href="https://pmichaels.net/2021/09/11/creating-a-game-in-blazor-part-1-moving-objects/">https://pmichaels.net/2021/09/11/creating-a-game-in-blazor-part-1-moving-objects/</a></li>
</ul>

@code {
    
}
