@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, KLA!</h1>

Let's talk about Blazor!

<input @bind="inputValue" @bind:event="oninput"/>
<SurveyPrompt Title="This is a component with inputs." Message="@inputValue"/>


@code {
    private string? inputValue;
}
